body{
  background-image: url("../images/stardust.png");
}

img{
  height: 200px;
}

h2{
  color: lightgrey;
}

#gameRow{
  text-align: center;
  padding: 0 0 10px 0;
}

/*.btn-primary{
  font-size: 25px;
  background: none;
  border: 2px solid #FFE81F;
  color: #FFE81F;
}

  .btn-primary:hover, .open>.dropdown-toggle.btn-primary{
    background-color: #FFE81F;
    color: black;
  }*/