body{
  background-image: url("../images/stardust.png");
  /*font-family: "Source Sans pro", sans-serif;*/
  font-family: "Titillium Web", sans-serif;
  /*font-family: "Lato", sans-serif;*/
}

img{
  height: 200px;
}

h2{
  color: lightgrey;
}

h1{
  color: lightgrey;
  font-size: 40px;
}

.jumbotron{
  background-color: #FFE81F;
  color: black;
  margin-bottom: 3px;
  /*padding: 2px 2px 2px 5px;*/
}

.player{
  line-height: 55px;
  margin-top: 0;
}

#userPlayer{
  border-bottom: 2px solid lawngreen;
}

#enemyPlayer{
  border-bottom: 2px solid red;
}

#gameRow{
  text-align: center;
  padding: 0 0 10px 0;
}

button{
  width: 100%;
  background: none;
  height: 35px;
  border-radius: 5px;
  font-size: 20px;
}

#attackButton{
  border: 2px solid #FFE81F;
  color: #FFE81F;
}

#attackButton:hover{
  color: black;
  background-color: #FFE81F;
}

#resetButton{
  margin-top: 10px;
  border: 2px solid deepskyblue;
  color: deepskyblue;
}

#resetButton:hover{
  color: black;
  background-color: deepskyblue;
}

