body{
  background-image: url("../images/stardust.png");
}

img{
  height: 200px;
}

h2{
  color: lightgrey;
}

#gameRow{
  text-align: center;
  padding: 0 0 10px 0;
}

.healthBarWarning{
  background-color: yellow;
  box-shadow: slategrey;
}